@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Prosto+One&family=Roboto+Condensed:wght@300&display=swap');

@font-face {
    font-family: 'Lucida';
    src: url(../tipografias/lucon.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --colorFondo: black;
    --colorClaro: white;
    --colorBlanco: rgba(255, 255, 255, 0.568);
    --colorPrim: #0000006b;
    --colorSec: #000000 ;
    --tipoTitulos: 'Lucida';
    --tipoGeneral: 'Lucida';
  
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--tipoTitulos);
    scroll-behavior: smooth;
    background-color: transparent !important;
    color: var(--colorSec);
    cursor: url(../img/CURSOR.png), auto;
   

}

html{

    cursor: url(../img/CURSOR.png), auto;
    min-height: 100%;
}
header {
    width: 100vw;
    position: sticky;
    top: calc(-100vh + 5em);
    z-index: 10;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.noise {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.25;
}

/*GLITCH
.logo {
    position: relative;
  }
  
  .top {
    clip-path: inset(58% 0 0 0);
  }
  
  .bottom {
    clip-path: inset(0 0 41% 0);
  }
  
  .glitch {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .collision-tutor {
    color: transparent;
  }

*/
#copyright{

        position: relative;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
}
#popUp {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 55vw;
    z-index: 20;
    padding: 3em;
    border-width: 3px;
    border-style: solid;
    border-color: var(--colorSec);
    border-image: initial;
    border-radius: 0%;
    background-color: var(--colorClaro) !important;
}
#popUp > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}
#popUp > div > h2 {
    color: var(--colorSec);
    font-family: var(--tipoGeneral);
    font-size: 3em;
    text-align: center;
}
#popUp > div > a {
    position: absolute;
    top: 43%;
    right: 5%;
    font-family: var(--tipoGeneral);
    color: var(--colorSec) !important;
    cursor: url(../img/POINTER.png), pointer;
    font-size: 2em;
}
#popUp > div > form > div {
    height: 4em;
}
#popUp > div > form > div > input {
    width: 19em;
    height: 2em;
    color:var(--colorSec);
    border-radius: 2em;
    padding: 0.2em 0.2em 0.2em 0.5em;
    border-width: 1px;
    border-style: solid;
    border-color: var(--colorSec);
    border-image: initial;
}
#popUp > div > form > input {
    color: var(--colorSec);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 15%);
    cursor: url(../img/POINTER.png), pointer;
    border-radius: 0em;
    padding: 0.5em;
    border-width: 1px;
    border-style: solid;
    border-color: var(--colorSec);
    border-image: initial;
}

#sendButton {
    background-color: var(--colorClaro) !important;
    padding: 0.5em;
    border: 2px solid var(--colorSec) !important;
}
#sendButton:hover{
    color: var(--colorClaro);
    background-color: var(--colorSec) !important;
    padding: 0.5em;
    border: 2px solid var(--colorSec) !important;
    cursor: url(../img/POINTER.png), pointer;
}
#perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2em;
}
#perfil>div{
   margin-right: 0.5em;
}
#perfil>div>img{
   width: 3em;
   border: 2px solid var(--colorSec) !important;
 }
 #perfil>div>p{
   margin: 0%;
  }


  #info_perfil{
    background-color: var(--colorSec) !important;
  }
.info_p {
    display: none;
    padding: 10px;
color: var(--colorClaro);
    border: 3px solid var(--colorSec) !important;
    width: 400px;
    position: absolute;
    z-index: 300;
    top: 4em;
    left: 7em;
}

#perfilito>div>h2 {
    font-size: 1rem;
    margin-bottom: 5px;
    font-family: var(--tipoGeneral);
    color: var(--colorClaro);
}

#perfilito>div>p {
    font-size: 0.7rem;
    color: var(--colorClaro);
    font-family: var(--tipoGeneral);
    margin: 0;
}
#perfilito {
    display: flex;
    flex-direction: row;
    align-items: center;
    MARGIN: 0.5EM;
}
#perfilito>img {
    width: 8em;
}
#perfilito>div{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}
#misionitas{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 1em;
}
#misionitas>h3{

    margin-bottom: 5px;
    font-family: var(--tipoGeneral);
    color: var(--colorClaro);
    border: 2px solid var(--colorClaro) !important;
    padding: 0.4em;
    width: 100%;

    text-align: center;

}
#misionitas>div{
    border: 1px solid var(--colorClaro) !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
}
#misionitas>div>img{
   width: 4em;

   margin-right: 1em;
}
#misionitas>div>div>p{
    font-size: 0.7rem;
    color: var(--colorClaro);
    font-family: var(--tipoGeneral);
    margin: 0;
}
#misionitas>div>h1{
    font-size: 2rem;
    color: var(--colorClaro);
    font-family: var(--tipoGeneral);
    margin: 0;
}
#misionitas>div>div>h4{
    margin-bottom: 5px;
    font-family: var(--tipoGeneral);
    color: var(--colorClaro);
    font-size: 0.9rem;
}
#inventorito{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
   }
   #inventorito>h3{
   
       margin-bottom: 5px;
       font-family: var(--tipoGeneral);
       color: var(--colorClaro);
       border: 2px solid var(--colorClaro) !important;
       padding: 0.4em;
       width: 100%;
   
       text-align: center;
   
   }
   #inventorito>div{
       display: flex;
 
       flex-wrap: wrap;

   }
   #inventorito>div>div>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
   #inventorito>div>div{
    border: 1px solid var(--colorClaro) !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 1em;
    width: 50%;
}
#inventorito>div>div>img {
    width: 3em;
    margin: 0.5em;
}
   #inventorito>div>div>div>p{
       font-size: 0.7rem;
       color: var(--colorClaro);
       font-family: var(--tipoGeneral);
       margin: 0;
   }
   #inventorito>div>div>h1{
       font-size: 2rem;
       color: var(--colorClaro);
       font-family: var(--tipoGeneral);
       margin: 0;
   }
   #inventorito>div>div>div>h4{
       margin-bottom: 5px;
       font-family: var(--tipoGeneral);
       color: var(--colorClaro);
       font-size: 0.9rem;
   }
   #ver_mas {

margin: 2.5em;    
display: flex;
    justify-content: center;
}

#ver_mas>a {
    background-color: var(--colorClaro) !important;
    padding: 0.5em;
    border: 2px solid var(--colorSec) !important;
}

.progreso-bar {
    width: 300px;
    height: 25px;
    background-color: var(--colorClaro) !important;
    border: 3px solid var(--colorSec) !important;
    border-radius: 0px;
    overflow: hidden;
}

.progreso {
    width: 0%;
    height: 100%;
    background-color: var(--colorSec) !important;
    border-radius: 0px;
    animation: progresoAnimation 3s forwards;
}

@keyframes progresoAnimation {
    0% {
        width: 0%;
    }
    75% {
        width: 75%;
    }
    100% {
        width: 75%;
    }
}

#envio>div{
    background-color: var(--colorClaro) !important;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 4em;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5em;
    align-items: center;
    z-index: 10;
    border-bottom: 3px solid var(--colorSec);
    justify-content: space-between;
}
#envio>div>p{
    color: var(--colorSec);
    font-family: var(--tipoTitulos);
    background-color: transparent !important;
    position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
 
}
.dropdown{
   z-index: 11;
    background-color: var(--colorPrim) !important;
}
.dropdown>button{
    color: var(--colorClaro) !important;
     background-color: var(--colorSec) !important;
     border-radius: 0px;
     cursor: url(../img/POINTER.png), pointer;
 }
.dropdown-menu{
    background-color: var(--colorSec) !important;
    border-radius: 0px;
   
}
.dropdown-item{
    background-color: var(--colorSec) !important;
    color: var(--colorClaro) !important;
}
.dropdown-item:hover{
    border: 1px solid var(--colorClaro);
    border-radius: 0px;
    cursor: url(../img/POINTER.png), pointer;

}
#compra {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#compra >img{
    width: 2em;
    margin-right: 1em;
}

#logo {
    width: 144.63px;
    height: 75.58px;
    background: url(../img/Frame_5.jpg);
    background-repeat: no-repeat;
    margin: 0em 9em;
}
#logo_glitch {
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
  }
#menu {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    background-color: transparent;
}

.menu_shop{
    position: fixed;
    top: 12em;
    left: 2em;
    width: 6vw;
    z-index: 10;
    padding: 5em 2em;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent !important;
    border-width: 3px;
    border-style: solid;
    border-color: var(--colorClaro) !important;
    border-image: initial;
    border-radius: 0%;
    transition-duration: 1s;
    display: flex;
    height: 60vh;
}

.menu_shop>li {
    list-style: none;
    color: var(--colorClaro) !important;
    font-size: 1em;
    background-color: transparent;
    transform: rotate(-90deg);
}
.menu_shop>li>a {
    color: var(--colorClaro) !important;
    
}

.menu {
    position: fixed;
    top: 12em;
    left: 2em;
    width: 6vw;
    z-index: 10;
    padding: 5em 2em;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent !important;
    border-width: 3px;
    border-style: solid;
    border-color: var(--colorSec);
    border-image: initial;
    border-radius: 0%;
    transition-duration: 1s;
    display: flex;
    height: 60vh;
}

.menu>li {
    list-style: none;
    color: var(--colorSec);
    font-size: 1em;
    background-color: transparent;
    transform: rotate(-90deg);
}

a {
    text-decoration: none !important;
    background-color: transparent;
    color: var(--colorSec)  !important;
}
.menu>li:hover {
    scale: 120%;
}
.menu>li>a>i:hover {
    scale: 120%;
}

.hamburguer{
    display: none;
}
.showMenu {
    transform: translateY(0);
  } .menu_about {
    position: fixed;
    top: 12em;
    right: 2em;
    width: 6vw;
    z-index: 10;
    padding: 5em 2em;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent !important;
    border-width: 3px;
    border-style: solid;
    border-color: var(--colorSec) !important;
    border-image: initial;
    border-radius: 0%;
    transition-duration: 1s;
    display: flex;
    height: 60vh;
}

.menu_about>li {
    list-style: none;
    color: var(--colorSec) !important;
    font-size: 1em;
    background-color: transparent;
    position: relative; /* Necesario para posicionar la info */
}
.menu_about>li>a {
    color: var(--colorSec) !important;
}
.menu_about>li:hover {
    scale: 120%;
}

.info {
    display: none;
    position: absolute;
    right: 3em;
    top: 0;
    color: var(--colorClaro) !important;
    background-color: var(--colorSec) !important;
    border: 3px solid var(--colorSec) !important;
    padding: 5px;
    white-space: nowrap;
    z-index: 20;
}

.menu_about>li:hover .info {
    display: block;
}
/* SECTIONS */
section {
    width: 90%;
    max-width: 1500px;
    margin: auto;
    padding: 3em 0;
}

section>h1 {
    text-align: center;
    color: var(--colorSec);
    font-size: 3em;
    padding-bottom: 1em;
    font-family: var(--tipoTitulos);
}

section>p {
    text-align: justify;
    margin: 1em;
    font-family: var(--tipoGeneral);
    color: var(--colorSec);
}
/* INTRO */
#intro>div>h1{
    font-family: var(--tipoTitulos);
    color: var(--colorSec);
    font-size: 4em;
}
#intro>div>a>p{
    font-family: var(--tipoGeneral);
    color: white;
}
#intro>div>a>p:hover{
    cursor: url(../img/POINTER.png), pointer;
}
#intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#intro>div{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#intro>div>img {
    width: 40vw;
    margin-top: 8em;
}
/* SHOP */
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  #mapa>div{
    display: flex;
    justify-content: center;
  }
  
  #mapa>div>img {
    position: fixed;
    bottom: 0;
    width: auto;
    height: 80%;
    margin: 7em;
  }


  .collection{
    position: fixed;
  }
  .dot1{
    height: 35px;
    width: 35px;
    background: radial-gradient(circle, rgba(2, 0, 36, 0.801) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%) !important;
    border-radius: 50%;
    display: inline-block;
    margin: 1em;
    cursor: url(../img/POINTER.png), pointer;
    
  }

 
 
  .dot1:hover + div{
    
    display: block;
}

  #col1{
    position: relative;
    top: -2em;
    left: -18em;
  }

.info_col1{
    display: none;
    position: absolute;
    left: 4em;
    top: 4em;
    width: 10vw;
    height: 7vh;
    z-index: 20;
    padding: 1em;
    border-width: 2px;
    border-style: solid;
    border-color: var(--colorClaro) !important;
    border-radius: 0%;
    background-color: var(--colorBlanco) !important;
}


.info_col1>p{
    color: var(--colorClaro);
}
.dot2{
    height: 30px;
    width: 30px;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%) !important;
    border-radius: 50%;
    display: inline-block;
    margin: 1em;
    cursor: not-allowed;
  }

 
 
  .dot2:hover + div{
    
    display: block;
}

  #col2{
    position: relative;
    top: 18em;
    left: 13em;
  }

.info_col2{
    display: none;
    position: absolute;
    right: 36em;
    top: -4em;
    width: 12vw;
    height: 7vh;
    z-index: 20;
    padding: 1em;
    border-width: 2px;
    border-style: solid;
    border-color: var(--colorClaro) !important;
    border-radius: 0%;
    background-color: var(--colorBlanco) !important;
}


.info_col2>p{
    color: var(--colorClaro);
}


.dot3{
    height: 20px;
    width: 20px;
    background: radial-gradient(circle, rgb(63, 251, 119) 0%, rgb(252, 143, 70) 100%) !important;
    border-radius: 50%;
    display: inline-block;
    margin: 1em;
    cursor: not-allowed;
  }

 
 
  .dot3:hover + div{
    
    display: block;
}

  #col3{
    position: relative;
    top: -3em;
    left: 6em;
  }

.info_col3{
    display: none;
    position: absolute;
    top: -4em;
    right: 37em;
    width: 11vw;
    height: 7vh;
    z-index: 20;
    padding: 1em;
    border-width: 2px;
    border-style: solid;
    border-color: var(--colorClaro) !important;
    border-radius: 0%;
    background-color: var(--colorBlanco) !important;
}


.info_col3>p{
    color: var(--colorClaro);
}

  /* Add some content at the bottom of the video/page */
  #planetas{
 
        position: absolute;
        bottom: 0em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
  }
  .text {
    font-weight: 100;
    font-size: 3em;
    color: #FAFAFA;
  }
  .dud {
    color: #757575;
  }
  .content {
    position: relative;
    left: 0;
    bottom: 0;
    text-align: center;
  }
  .content > p {
    color: var(--colorClaro) !important;
  }


/*COLLECTION1*/
#buy h1{
    padding: 2em 2em 0.3em;
    color: var(--colorFondo);
}

#buy h4{
    font-family: var(--tipoTitulos);
    color: var(--colorFondo);
    text-align: center;
    font-size: calc(1.1rem + .3vw);
}

#buy .rounded{
    width:10em;
}
.favart {
    display: flex;
    align-items: center;
    padding: 1em;
    border: 2px solid var(--colorSec) !important;
    height: 60vh;
    justify-content: space-around;
    width: 50%;
    flex-direction: column;
}
.favart>img {
   width: 10em;
}

.listfav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.art_1{
  
    padding: 1.5em;
    display: flex;
    flex-direction: column;
}

.art_2{
    display: flex;
    justify-content: space-between;
}

.art_3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#buy .btn{
    margin-top: 1em;
    color: var(--colorFondo);
    border: var(--colorFondo);
    border-style: solid;
    border-radius: 0px;
    border-width: 3px;
}

#buy h4{
    color: var(--colorFondo);
}

#buy h2, #buy h5, #buy p, #buy .fa-regular{
    color: var(--colorFondo);
}

#buy .fa-regular:hover{
    scale: 1.1;
}

.butCalc{
    font-family: var(--tipoGeneral);
    font-size: calc(1.325rem + .9vw);
    color: var(--colorFondo);
    border: none;
}
/*COLLECTION1*/
#COL_1{
    display: flex;
    flex-direction: column;
 height: 60vh;
}
#COL_1>h1>a{
    cursor: url(../img/POINTER.png), pointer;
}
#img_col>img{
    width: 40vw;
}
#img_col{
   border: none !important;
}
#COL1_INFO{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-left: 6em;
}
#COL1_INFO>div{
    border: var(--colorSec);
    border-style: solid;
    border-radius: 0px;
    border-width: 3px;
}
#COL1_INFO>div>h2{
    color: var(--colorClaro);
    padding: 0.5em;
    padding-left: 0.2em;
    background-color: var(--colorSec) !important;
    margin: 0%;
}
#COL1_INFO>div>ul{
    margin: 0%;
    padding: 0%;
}
#COL1_INFO>div>ul>li{
    font-size: small;
    list-style: none;
    border: var(--colorSec);
    border-style: solid;
    border-radius: 0px;
    border-width: 2px;
    border-bottom: 0px;
    padding: 0.5em;
    background-color: var(--colorPrim) !important;
    cursor: url(../img/POINTER.png), pointer;
}
.popup-text {
    font-size: smaller;
    color: var(--colorSec);
    display: none;
    position: relative;
    width: 230px;
    padding: 10px;
    background-color: var(--colorBlanco);
    border: 3px solid var(--colorSec);
    z-index: 100;

}
.popup-text > p{
    margin-bottom: 0%;
}
/*COL2*/
#col_2>div{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#col_2>div>p{
   font-size: 2em;
   z-index: 300;
}
#col_2>div>img {
    width: 30vw;
    margin-top: 7em;
}
#logo_glitch2{
    position: absolute;

    bottom: 0;
    width: 80vw;
}
/* Mostrar el cuadro de texto al hacer hover sobre el li */
#COL1_INFO div ul li:hover .popup-text {
    display: block;
}
#COL1_INFO>div>ul>li:last-child{

    border: 2px solid var(--colorSec);
}
#RA{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    left: 7em;
    bottom: 4em;
}
#RA>a {
    cursor: url(../img/POINTER.png), pointer;
}
#RA>a>img {
    width: 6vw;
    margin-left: 5em;
}/* Styles for the popup */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    left: 0;
    bottom: 0;
    width: 100%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0) !important; /* Fallback color */
    background-color: rgba(0,0,0,0.4) !important; /* Black w/ opacity */
}

.popup-content {
    background-color: var(--colorClaro) !important;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 2em;
    border: 3px solid var(--colorSec) !important;
    width: 50%; /* Could be more or less, depending on screen size */
}

.close {
    color: var(--colorSec) !important;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: url(../img/POINTER.png), pointer;
}

.popup-content>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup-content>div>button {
    background-color: var(--colorClaro) !important;
    padding: 0.5em;
    border: 2px solid var(--colorSec) !important;
}
.popup-content>div>button:hover {
    color: var(--colorClaro);
    background-color: var(--colorSec) !important;
    padding: 0.5em;
    border: 2px solid var(--colorSec) !important;
    cursor: url(../img/POINTER.png), pointer;
}
#BUY{
    position: fixed;
    right: 4em;
    bottom: 4em;

}
#BUY>button {
    background-color: var(--colorClaro) !important;
    padding: 0.5em;
    border: 2px solid var(--colorSec) !important;
    width: 8em;
}
#BUY>button:hover {
    color: var(--colorClaro);
    background-color: var(--colorSec) !important;
    border: 2px solid var(--colorSec) !important;
    cursor: url(../img/POINTER.png), pointer;
}
/* ABOUT */
#about>div{
    display: flex;
    flex-direction: column;

    text-align: justify;
    align-items: center;
  margin: 2em 10em;
}
#about>div>h1{
margin: 2em;
margin-top: 0%;
}
/* PERFIL */
#perfilote{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#perfilote>div>img{
    margin: 3em;
    margin-bottom: 0.5em;
  width: 30vw;
  border: 3px solid var(--colorSec) !important;
}
#perfilote>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#perfilote>div>form{
    display: flex;
    flex-direction: column;
}
#perfilote>div>form>input{
    background-color: var(--colorClaro) !important;
    border: 2px solid var(--colorSec) !important;
    width: 20em;
}

#PERFIL {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#completed{
    border: 2px solid var(--colorSec) !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
    background-color: var(--colorSec) !important;
    width: 50vw;
    justify-content: space-around;
   }
   #completed>div>p{
    font-size: 0.7rem;
    color: var(--colorClaro);
    font-family: var(--tipoGeneral);
    margin: 0;
   }
#misiones{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
   }
   #misiones>h3{
   
       margin-bottom: 5px;
       font-family: var(--tipoGeneral);
       color: var(--colorSec);
       border: 3px solid var(--colorSec) !important;
       padding: 0.4em;
       width: 100%;
   
       text-align: center;
   
   }
   #misiones>div{
       border: 3px solid var(--colorSec) !important;
       display: flex;
       flex-direction: row;
       align-items: center;
       padding: 1em;
       background-color: var(--colorPrim) !important;
       width: 50vw;
       justify-content: space-around;
   }
   #misiones>div>img{
      width: 4em;
   
      margin-right: 1em;
   }
   #misiones>div>div>p{
       font-size: 0.7rem;
       color: var(--colorClaro);
       font-family: var(--tipoGeneral);
       margin: 0;
   }
   #misiones>div>h1{
       font-size: 2rem;
       color: var(--colorClaro);
       font-family: var(--tipoGeneral);
       margin: 0;
   }
   #misiones>div>div>h4{
       margin-bottom: 5px;
       font-family: var(--tipoGeneral);
       color: var(--colorClaro);
       font-size: 0.9rem;
   }
  
   #inventario{
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: 1em;
      }
      #inventario>h3{
      
          margin-bottom: 5px;
          font-family: var(--tipoGeneral);
          color: var(--colorSec);
          border: 3px solid var(--colorSec) !important;
          padding: 0.4em;
          width: 100%;
      
          text-align: center;
      
      }
      #inventario>div{
          display: flex;
          background-color: var(--colorPrim) !important;
          flex-wrap: wrap;
          width: 50vw;
   
      }
      #inventario>div>div{
       border: 3px solid var(--colorSec) !important;
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       align-items: center;
       padding: 1em;
       width: 50%;
   }
   #inventario>div>div>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
      #inventario>div>div>img{
         width: 15em;
      

      }
      #inventario>div>div>div>p{
          font-size: 0.7rem;
          color: var(--colorSec);
          font-family: var(--tipoGeneral);
          margin: 0;
      }
      #inventario>div>div>h1{
          font-size: 2rem;
          color: var(--colorClaro);
          font-family: var(--tipoGeneral);
          margin: 0;
      }
      #inventario>div>div>div>h4{
          margin-bottom: 5px;
          font-family: var(--tipoGeneral);
          color: var(--colorSec);

      }
     
      /*WISSH*/
      #wishlist{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1em;
       }
       #wishlist>h3{
       
           margin-bottom: 5px;
           font-family: var(--tipoGeneral);
           color: var(--colorSec);
           border: 3px solid var(--colorSec) !important;
           padding: 0.4em;
           width: 100%;
       
           text-align: center;
       
       }
      #wishlist>div {
        display: flex;
        background-color: var(--colorPrim) !important;
        flex-wrap: wrap;
        width: 50vw;
    }
       #wishlist>div>div{
        border: 1px solid var(--colorSec) !important;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        width: 100%;
        height: 100%;
    }
       #wishlist>div>div>img{
          width: 4em;
       
          margin-right: 1em;
       }
       #wishlist>div>div>div>p{
           font-size: 0.7rem;
           color: var(--colorClaro);
           font-family: var(--tipoGeneral);
           margin: 0;
       }
       #wishlist>div>div>h1{
           font-size: 2rem;
           color: var(--colorClaro);
           font-family: var(--tipoGeneral);
           margin: 0;
       }
       #wishlist>div>div>div>h4{
           margin-bottom: 5px;
           font-family: var(--tipoGeneral);
           color: var(--colorClaro);
           font-size: 0.9rem;
       }
       #buttonWish {
  border-radius: 0%;
        padding: 0.5em;
        color: var(--colorSec);
        border: 2px solid var(--colorSec) !important;
        
    }
    #buttonWish:hover{
        color: var(--colorClaro);
        background-color: var(--colorSec) !important;
        padding: 0.5em;
        border: 2px solid var(--colorSec) !important;
        cursor: url(../img/POINTER.png), pointer;

    }
    /*REWARDS*/

#rewards{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
   }
   #rewards>div>div {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid var(--colorSec) !important;
    width: 50%;
    height: 30vh;
    padding: 3em;
}
#rewards>div>div>div {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--colorClaro);
}
   #rewards>h3{
   
       margin-bottom: 5px;
       font-family: var(--tipoGeneral);

       border: 3px solid var(--colorSec) !important;
       padding: 0.4em;
       width: 100%;
       color: var(--colorSec) !important;
       text-align: center;
   
   }
   #rewards>div{
       border: 2px solid var(--colorSec) !important;
       display: flex;
       align-items: center;
       background-color: var(--colorPrim) !important;
       width: 50vw;
       justify-content: space-around;
       flex-direction: row;
   }
   #rewards>div>div>img{
      width: 5em;

   }
   #rewards>div>div>div>p{
       font-size: 0.7rem;
       color: var(--colorClaro) !important;
       font-family: var(--tipoGeneral);
       margin: 0;
   }
   #rewards>div>div>h1{
       font-size: 1rem;
       color: var(--colorClaro);
       font-family: var(--tipoGeneral);
       margin: 0;
       padding: 1em;
       cursor: url(../img/POINTER.png), pointer;
   }
   #rewards>div>div>div>h4{
       margin-bottom: 5px;
       font-family: var(--tipoGeneral);
       color: var(--colorClaro);
       font-size: 0.9rem;
   }
/* MEDIAQUERIES */
@media only screen and (max-width: 1200px) {

    #aboutus>div>div {
        padding: 3em 0.5em;
    }
    .sirenpic>img{
        height: 80%;
    }
}

@media only screen and (max-width: 1000px) {
    #instagram>div {
        flex-wrap: wrap;
        justify-content: center;
    }
    #instagram>div>div>img {
        margin: 1em 3em;
    }
    #footer_izq>div>h4,   #footer_dcha>h4 {
        font-size: 1em;
    }
    #footer_izq>div>p {
        font-size: 0.8em;
    }
    label{
        font-size: 0.8em;
    }
    #footer_dcha> form > input {
        font-size: 0.8em;
    }
    #logo {
        margin: 0em 1em;
    }
    .sirenpic>img{
        height: 70%;
        margin-top: 20%;
    }
    #joyas>div>div>img {
        width: 28vw;
    }
    

  #elene{
        max-height: auto;
    }
}
@media only screen and (max-width: 1040px) {
    .sirenpic>img{
        scale: 85%;

    }

     #elene{
        max-height: 55vh;
    }

    .sirenpic>img{
        height: 95%;
        margin-top: 0;
    }

}




@media only screen and (max-width: 850px) {
    #intro>div>img{
        width: 100vw;
    }
 .hamburguer{
     display: block;
     position: fixed;
     top: 5em;
     right: 1em;
     margin: 1em;
     cursor: url(../img/POINTER.png), pointer;
     z-index: 20;
 }
.menu{
    display: none; 
   
}
 .menuItem{
    float: none;
    display: block;
    text-align: right;
 }


.show-menu {
    display: flex;
    position: fixed;
    right: 0;
    left: auto;
    width: 35vw;
    height: 75vh;
    flex-direction: column;
    padding: 3em;
    box-shadow: 0px 0px 20px 3px rgba(255, 255, 255, 0.562);

}
#popUp > div > h2 {

    font-size: 2em;

}
#aboutus>div {
    flex-wrap: wrap;
    justify-content: center;
}
#aboutus>div>div {
    margin-top: 1em !important;
}
#aboutus>div>div>img {
    padding: 0em 1.5em;
    width: 37vw;
}
footer {
    padding: 1em 0em;
}
footer>div {

    flex-direction: column;
  
    align-items: center;
}
#footer_izq>div {
    margin: 3em;
}

#joyas>div>div>img {
    width: 50vw;

}
.right-container > h2{
    font-size: 15pt;
}
div.boton{
    scale: 90%;
    width: 50%;
    display: flex;
    justify-content: center;
}
div.boton > a{
    align-items: center;
}
#elene {
    flex-direction: column;
    max-height: 1000vh;
}
.sirenpic>img {

    height: 53%;
    width: 65vw;
}

.siren-colection>div {
    width: 100%;
}
#aboutus>div>div>p {
    font-size: 0.8em;

}

}

@media only screen and (max-width: 600px) {
    #joyas>div>div>img {
        width: 42vw;
    }
 

    .show-menu {
        width: 50vw; 
    }
   
   

}
@media only screen and (max-width: 400px) {
    #joyas>div>div>img {
        width: 60vw;
    }
    #aboutus>div>div>img {
        width: 62vw;
    }
    #footer_izq>div>p {
        font-size: 0.6em;
    }
    #footer_izq>div>h4, #footer_dcha>h4 {
        font-size: 0.8em;
    }
    #footer_dcha> form > div > input {
        width: 13em;
    }
    #popUp > div > h2 {
        font-size: 1.5em;
    }
    #popUp > div > form > div > input {
        width: 13em;
    }
    #popUp > div > form > input {
        font-size: 0.8em;
    }
    label {
        font-size: 0.6em;
    }
    #privacidad {
        width: 0.8em !important;
        height: 0.8em !important;
        margin-left: 1em !important;
    }
    #footer_dcha> form > input  {
        font-size: 0.7em;
    }
    #envio>div>p {
        font-size: 0.7em;
    }
    .btn {
        scale: 80%;
    }
}